<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description" content="Pharst Care. The pharmacy in your pocket. The only pharmacy you need to have access to for all your prescriptions, over the counter drugs, home care items..., Your drugs are just a click away.Search for drugs, call pharmacies and make your own inquiries, get your drugs delivered to you, anytime, anywhere.">
    <meta name="keywords" content="Pharst Care,Drugs,get drugs online,get pharmacies,pharmacy,Search for drugs,drug search,find drugs online, find drugs, find medicines, search for medicine,PywE Health Apps,healthcare,Health Apps,Health,Care,Phars+,Pharst, Pharst Care">
    <meta name="author" content="ThemeTags">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="Pharst Care"/> <!-- website name -->
    <meta property="og:site" content="https://pharst.pywe.org/"/> <!-- website link -->
    <meta property="og:title" content="Pharst Care."/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=" The pharmacy in your pocket. The only pharmacy you need to have access to for all your prescriptions, over the counter drugs, home care items."/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="https://pharst.pywe.org/"/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!--title-->
    <title>Phars+ Care | The Pharmacy in your pocket!</title>

    <!--favicon icon-->
    <link rel="icon" href="/static/assets/img/cell.png" type="image/png" sizes="16x16">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7COpen+Sans&amp;display=swap"
          rel="stylesheet">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
    <!--Themify icon css-->
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
    <!--animated css-->
    <link rel="stylesheet" href="/static/assets/css/animate.min.css">
    <!--ytplayer css-->
    <link rel="stylesheet" href="/static/assets/css/jquery.mb.YTPlayer.min.css">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/css/owl.theme.default.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" href="/static/assets/css/responsive.css">

</head>
<body>

<!--header section start-->
<header class="header">
    <!--start navbar-->
    <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/static/assets/img/cell.png" width="50" alt="logo"
                                                           class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>

            <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#screenshots">Screenshots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#faq">Faq</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--end navbar-->
</header>
<!--header section end-->

<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section pt-100 background-img"
             style="background: url('/static/assets/img/app-hero-bg.png')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center justify-content-between py-5">
                <div class="col-md-7 col-lg-6">
                    <div class="hero-content-left text-white">
                        <h1 class="text-white"><span>Phars+</span> Care</h1>
                        <p class="lead">The only pharmacy you need to have access to for all your prescriptions, over the counter drugs, home care items!
                        </p>
                        <div class="video-promo-content py-4 d-flex align-items-center">
                            <a href="https://www.youtube.com/watch?v=9No-FiEInLA"
                               class="popup-youtube video-play-icon-without-bip video-play-icon mr-3"><span class="ti-control-play"></span></a> Watch Video Overview

                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="hero-animation-img">
                        <img src="/static/assets/img/app-product.png" alt="app" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-img-absolute">
            <img src="/static/assets/img/hero-bg-shape-1.svg" alt="wave shape" class="img-fluid">
        </div>
    </section>
    <!--hero section end-->

    <!--promo section start-->
    <section id="about"  class="promo-section ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8">
                    <div class="section-heading text-center mb-5">
                        <h2>What is <br><span>Phars+ Care?</span></h2>
                        <p class="lead">
                            Phars+ Care is a progressive web application design to help people order for their drugs and home care items in their confort zone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row equal">
                <div class="col-md-4 col-lg-4">
                    <div class="single-promo single-promo-hover single-promo-1 rounded text-center white-bg p-5 h-100">
                        <div class="circle-icon mb-5">
                            <span class="ti-mobile text-white"></span>
                        </div>
                        <h5>Mobile Friendly</h5>
                        <p>Phars+ Care is mobile friendly.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="single-promo single-promo-hover single-promo-1 rounded text-center white-bg p-5 h-100">
                        <div class="circle-icon mb-5">
                            <span class="ti-bolt-alt text-white"></span>
                        </div>
                        <h5>Fast and secure</h5>
                        <p>Phars+ Care is fast and secure.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="single-promo single-promo-hover single-promo-1 rounded text-center white-bg p-5 h-100">
                        <div class="circle-icon mb-5">
                            <span class="ti-location-pin text-white"></span>
                        </div>
                        <h5>Location Base</h5>
                        <p>Phars+ Care is location base.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--promo section end-->

    <!--feature section start-->
    <section id="features" class="feature-section ptb-100">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-4">
                    <div class="download-img">
                        <img src="/static/assets/img/image-14.png" alt="download" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="feature-contents section-heading">
                        <h2>With Phars+ Care:</h2>
                        <p>You can access the closest pharmacy to your location.</p>
                        <p>You can order for your drugs and home care items at the confort zone.</p>
                        <p>You can make direct call to the pharmacy to check you drugs availability.</p>
                        <p>You can access a map to get direction to the pharmacy.</p>
                    </div>
                    <a href="https://pharst.pywe.org" class="btn outline-btn mb-3" target="_blank">Use it Now!</a>
                </div>
            </div>
        </div>
    </section>
    <!--feature section end-->

    <!--screenshots section start-->
    <section id="screenshots" class="screenshots-section ptb-100 primary-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center">
                        <h2 class="text-white">App screenshots <br> <span>Looks awesome</span></h2>
                        <p class="lead">Phars+ Care various interfaces</p>
                    </div>
                </div>
            </div>
            <!--start app screen carousel-->
            <div class="screen-slider-content mt-5">
                <div class="screenshot-frame"></div>
                <div class="screen-carousel owl-carousel owl-theme dot-indicator">
                    <img src="/static/assets/img/01.png" class="img-fluid" alt="screenshots">
                    <img src="/static/assets/img/02.png" class="img-fluid" alt="screenshots">
                    <img src="/static/assets/img/03.png" class="img-fluid" alt="screenshots">
                </div>
            </div>
            <!--end app screen carousel-->
        </div>
    </section>
    <!--screenshots section end-->

        <!--overflow block start-->
    <div class="overflow-hidden">
        <!--our pricing packages section start-->
        <section id="faq" class="package-section ptb-100">
            <div class="container">
                <!--pricing faq start-->
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div id="accordion-1" class="accordion accordion-faq">
                            <!-- Accordion card 1 -->
                            <div class="card">
                                <div class="card-header py-4" id="heading-1-1" data-toggle="collapse" role="button"
                                     data-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                    <h6 class="mb-0"><span class="ti-receipt mr-3"></span> What is Phars+ Care?</h6>
                                </div>
                                <div id="collapse-1-1" class="collapse" aria-labelledby="heading-1-1"
                                     data-parent="#accordion-1">
                                    <div class="card-body">
                                        <p>Phars+ Care is a progressive web application that help you easily get your drugs and home care items.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="accordion-2" class="accordion accordion-faq">
                            <!-- Accordion card 1 -->
                            <div class="card">
                                <div class="card-header py-4" id="heading-2-1" data-toggle="collapse" role="button"
                                     data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                                    <h6 class="mb-0"><span class="ti-receipt mr-3"></span> Who developed Phars+ Care?</h6>
                                </div>
                                <div id="collapse-2-1" class="collapse" aria-labelledby="heading-2-1"
                                     data-parent="#accordion-2">
                                    <div class="card-body">
                                        <p>Phars+ Care was developed by a of young developers called PywE. The company was name after it's founder Theophilus Nutifafa. For more info, visit <a href="https://pywe.org" target="_blank">PywE Official Website.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--pricing faq end-->
            </div>
        </section>
        <!--our pricing packages section end-->
    </div>
    <!--overflow block end-->

        <!--download section start-->
    <section class="download-section pt-100 background-img"
             style="background: url('/static/assets/img/app-hero-bg.png')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-7">
                    <div class="download-content text-white pb-100">
                        <h2 class="text-white">Get the APK version on your android Now!</h2>
                        <p class="lead">Phars+ Care has already an android version. To get the apk and install on your smartphone, click on the button bellow.</p>

                        <div class="download-btn">
                            <a href="https://drive.google.com/file/d/1MqgNfyJSVmop8NDOtlkrwTSTZ5TwkeUP/view?usp=drivesdk" target="_blank"  class="btn google-play-btn mr-3"><span class="ti-android"></span> Google
                                Play</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="download-img d-flex align-items-end">
                        <img src="/static/assets/img/image-14-trans.png" alt="download" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--download section end-->

    <!--testimonial section start-->
    <section class="testimonial-section ptb-100">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <div class="section-heading mb-5">
                        <h2>Testimonials <br><span>what people say</span></h2>
                        <p class="lead">
                            Hear from people who have used the app and are satisfied.
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="owl-carousel owl-theme client-testimonial arrow-indicator">
                        <div class="item">
                            <div class="testimonial-quote-wrap">
                                <div class="media author-info mb-3">
                                    <div class="author-img mr-3">
                                        <img src="/static/assets/img/client-2.jpg" alt="client" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mb-0">Gloria G.</h5>
                                        <span>Ghana</span>
                                    </div>
                                </div>
                                <div class="client-say">
                                    <p> <img src="/static/assets/img/quote.png" alt="quote" class="img-fluid"> Phars+ Care is a great innovation. I don't have to stress myself anymore when looking for the right pharmacy to get drugs for my father.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-quote-wrap">
                                <div class="media author-info mb-3">
                                    <div class="author-img mr-3">
                                        <img src="/static/assets/img/client-1.jpg" alt="client" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mb-0">Koffi Bin G.</h5>
                                        <span>Togo</span>
                                    </div>
                                </div>
                                <div class="client-say">
                                    <p><img src="/static/assets/img/quote.png" alt="quote" class="img-fluid">  I'm really loving this app especially due to the fact that I can order my items wherever I am and it will be delivered to me. This is really awesome!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--testimonial section end-->

    <!--our team section start-->
    <section id="team" class="team-member-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Leading Team behind Phars+ Care</h2>
                        <p class="lead">
                            Young developers with awesome and innovative ideas
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team-member position-relative">
                        <div class="team-image">
                            <img src="/static/assets/img/team-1.png" alt="Team Members" class="img-fluid rounded-circle">
                        </div>
                        <div class="team-info text-white rounded-circle d-flex flex-column align-items-center justify-content-center">
                            <h5 class="mb-0">Theophilus Nutifafa</h5>
                            <h6>Senior Developer</h6>
                            <ul class="list-inline team-social social-icon mt-4 text-white">
                                <li class="list-inline-item"><a href="#"><span class="ti-facebook"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-twitter"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-github"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-dribbble"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team-member position-relative">
                        <div class="team-image">
                            <img src="/static/assets/img/team-2.png" alt="Team Members" class="img-fluid rounded-circle">
                        </div>
                        <div class="team-info text-white rounded-circle d-flex flex-column align-items-center justify-content-center">
                            <h5 class="mb-0">Josefina Boateng</h5>
                            <h6>Senior Designer</h6>
                            <ul class="list-inline team-social social-icon mt-4 text-white">
                                <li class="list-inline-item"><a href="#"><span class="ti-facebook"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-twitter"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-github"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-dribbble"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team-member position-relative">
                        <div class="team-image">
                            <img src="/static/assets/img/team-3.png" alt="Team Members" class="img-fluid rounded-circle">
                        </div>
                        <div class="team-info text-white rounded-circle d-flex flex-column align-items-center justify-content-center">
                            <h5 class="mb-0">Josue Adimado</h5>
                            <h6>Senior Developer</h6>
                            <ul class="list-inline team-social social-icon mt-4 text-white">
                                <li class="list-inline-item"><a href="#"><span class="ti-facebook"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-twitter"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-github"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-dribbble"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team-member position-relative">
                        <div class="team-image">
                            <img src="/static/assets/img/team-4.png" alt="Team Members" class="img-fluid rounded-circle">
                        </div>
                        <div class="team-info text-white rounded-circle d-flex flex-column align-items-center justify-content-center">
                            <h5 class="mb-0">Aikins Laryea</h5>
                            <h6>Junior Developer</h6>
                            <ul class="list-inline team-social social-icon mt-4 text-white">
                                <li class="list-inline-item"><a href="#"><span class="ti-facebook"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-twitter"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-github"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="ti-dribbble"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our team section end-->

    <!--client section start-->
    <section class="client-section ptb-100">
        <div class="container">
        </div>
    </section>
    <!--client section start-->

</div>
<!--body content wrap end-->

<!--shape image start-->
<div class="shape-img subscribe-wrap">
    <img src="/static/assets/img/footer-top-shape.png" alt="footer shape" class="img-fluid">
    <div class="container">
        <div class="row justify-content-center">
        </div>
    </div>
</div>
<!--shape image end-->

<!--footer section start-->
<footer id="contact" class="footer-section">

    <!--footer top start-->
    <div class="footer-top pt-150 pb-5 background-img-2"
         style="background: url('/static/assets/img/footer-bg.png')no-repeat center top / cover">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 mb-3 mb-lg-0">
                    <div class="footer-nav-wrap text-white">
                        <!-- <img src="/static/assets/img/logo.png" alt="footer logo" width="50" class="img-fluid mb-3"> -->
                        <p>Pharst Care. The pharmacy in your pocket. The only pharmacy you need to have access to for all your prescriptions, over the counter drugs, home care items.</p>

                        <div class="social-list-wrap">
                            <ul class="social-list list-inline list-unstyled">
                                <li class="list-inline-item"><a href="https://www.facebook.com/pywe.org/" target="_blank" title="Facebook"><span class="ti-facebook"></span></a></li>
                                <li class="list-inline-item"><a href="https://twitter.com/pywedot" target="_blank" title="Twitter"><span
                                        class="ti-twitter"></span></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/pywedot_org/" target="_blank"
                                                                title="Instagram"><span class="ti-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ml-auto mb-4 mb-lg-0">
                    <div class="footer-nav-wrap text-white">
                        <h5 class="mb-3 text-white">Others Links</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="https://pywe.org" target="_blank">About Us</a></li>
                            <li class="mb-2"><a href="https://www.pywe.org/interact" target="_blank">Contact Us</a></li>
                            <li class="mb-2"><a href="https://pharst.pywe.org/ichare" target="_blank">iChare</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 ml-auto mb-4 mb-lg-0">
                    <div class="footer-nav-wrap text-white">
                        <h5 class="mb-3 text-white">Contact Us</h5>
                        <ul class="list-unstyled support-list">
                            <li class="mb-2 d-flex align-items-center"><span class="ti-location-pin mr-2"></span> Valley View University, Accra-Ghana</li>
                            <li class="mb-2 d-flex align-items-center"><span class="ti-mobile mr-2"></span> <a
                                    href="tel:+233558544343"> +233 (0) 558 544 343</a></li>
                            <li class="mb-2 d-flex align-items-center"><span class="ti-email mr-2"></span><a
                                    href="mailto:support@pywe.org"> support@pywe.org</a></li>
                            <li class="mb-2 d-flex align-items-center"><span class="ti-world mr-2"></span><a
                                    href="https://pywe.org"> www.pywe.org</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer top end-->

    <!--footer copyright start-->
    <div class="footer-bottom gray-light-bg pt-4 pb-4">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-6 col-lg-5"><p class="copyright-text pb-0 mb-0">Copyrights © {%now "Y"%} All
                    rights reserved by
                    <a href="https://pywe.org" target="_blank">PywE</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--footer copyright end-->
</footer>
<!--footer section end-->

<!--jQuery-->
<script src="/static/assets/js/jquery-3.5.0.min.js"></script>
<!--Popper js-->
<script src="/static/assets/js/popper.min.js"></script>
<!--Bootstrap js-->
<script src="/static/assets/js/bootstrap.min.js"></script>
<!--Magnific popup js-->
<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
<!--jquery easing js-->
<script src="/static/assets/js/jquery.easing.min.js"></script>
<!--jquery ytplayer js-->
<script src="/static/assets/js/jquery.mb.YTPlayer.min.js"></script>
<!--wow js-->
<script src="/static/assets/js/wow.min.js"></script>
<!--owl carousel js-->
<script src="/static/assets/js/owl.carousel.min.js"></script>
<!--countdown js-->
<script src="/static/assets/js/jquery.countdown.min.js"></script>
<!--validator js-->
<script src="/static/assets/js/validator.min.js"></script>
<!--custom js-->
<script src="/static/assets/js/scripts.js"></script>
</body>

</html>